@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import "@fortawesome/fontawesome-free/css/fontawesome.min.css";
@import "@fortawesome/fontawesome-free/css/solid.min.css";
@import "@fortawesome/fontawesome-free/css/brands.min.css";
@import "tailwindcss";

@font-face {
    font-family: Inter;
}
body {
    font-family: Inter, sans-serif;
}
@theme {
    --color-primary: #62a1ec;
    --color-base-100: #111111;
    --color-base-150: #181818;
    --color-base-200: #2B323B;
    --color-base-300: #444C56;
    --color-husky: #4b2e83;
    --color-husky2: #32006e;
}

html{
    @apply bg-base-100
}